In [21]:
import pandas as pd 
import numpy as np
from shapely.geometry import Point
import geopandas as gpd 
from geopy.distance import distance

In [24]:
df_temp = pd.read_csv('../data/temples_api.csv')
df_temp

,Place of interest,Place address,Latitude,Longitude,Type of place
0,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal
1,Asambleas de Evangelización Mundial para Crist...,CALLE ANTONIA RODRIGUEZ SACRISTAN 8 PLANTA BAJ...,40.372800,-3.745074,Asambleas de Evangelización Mundial para Crist...
2,Asociación Darse - Dar Ayuda para la Reinserci...,CAMINO ALTO DE SAN ISIDRO 16 PLANTA 2º C C,40.396470,-3.722813,Asociación Darse - Dar Ayuda para la Reinserci...
3,Asociación Evangélica Internacional,CALLE NICARAGUA 19,40.457895,-3.670675,Asociación Evangélica Internacional
4,Catedral Anglicana de Madrid,CALLE BENEFICENCIA 18,40.426351,-3.698683,Catedral Anglicana de Madrid
...,...,...,...,...,...
285,Testigos Cristianos de Jehová. Calle Sierra Sa...,CALLE SIERRA SALVADA 24 LOCAL 5,40.373674,-3.618489,Testigos Cristianos de Jehová. Calle Sierra Sa...
286,Testigos Cristianos de Jehová. Calle Tembleque,CALLE TEMBLEQUE 64 PLANTA BAJA,40.395189,-3.760301,Testigos Cristianos de Jehová. Calle Tembleque
287,Testigos Cristianos de Jehová. Calle Venancio ...,CALLE VENANCIO MARTIN 19 PLANTA BAJA 2,40.397957,-3.661471,Testigos Cristianos de Jehová. Calle Venancio ...
288,Testigos Cristianos de Jehová. Calle Ámbar,CALLE AMBAR 3 PLANTA BAJO IZQUIERDA,40.373674,-3.618489,Testigos Cristianos de Jehová. Calle Ámbar
289,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel

In [25]:
df_bici = pd.read_csv('../data/bicimad.csv')
df_bici

,BiciMAD Station,Station Location,Coordinates,Latitude,Longitude
0,1a - Puerta del Sol A,Puerta del Sol nº 1,"-3.7018341, 40.4172137",40.417214,-3.701834
1,1b - Puerta del Sol B,Puerta del Sol nº 1,"-3.701602938060457, 40.41731271011562",40.417313,-3.701603
2,2 - Miguel Moya,Calle Miguel Moya nº 1,"-3.7058415, 40.4205886",40.420589,-3.705842
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"-3.7069171, 40.4302937",40.430294,-3.706917
4,4 - Malasaña,Calle Manuela Malasaña nº 5,"-3.7025875, 40.4285524",40.428552,-3.702587
...,...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,"-3.72997, 40.43896",40.438960,-3.729970
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72699, 40.44375",40.443750,-3.726990
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72693, 40.44342",40.443420,-3.726930
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,"-3.7272945, 40.4483322",40.448332,-3.727295
263,261 - Facultad Derecho,Avenida Complutense nº 23,"-3.72937, 40.45109",40.451090,-3.729370

In [26]:
df_bici.drop(['Coordinates'], axis=1)

,BiciMAD Station,Station Location,Latitude,Longitude
0,1a - Puerta del Sol A,Puerta del Sol nº 1,40.417214,-3.701834
1,1b - Puerta del Sol B,Puerta del Sol nº 1,40.417313,-3.701603
2,2 - Miguel Moya,Calle Miguel Moya nº 1,40.420589,-3.705842
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,40.430294,-3.706917
4,4 - Malasaña,Calle Manuela Malasaña nº 5,40.428552,-3.702587
...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,40.438960,-3.729970
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,40.443750,-3.726990
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,40.443420,-3.726930
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,40.448332,-3.727295
263,261 - Facultad Derecho,Avenida Complutense nº 23,40.451090,-3.729370

In [27]:
df_bici

,BiciMAD Station,Station Location,Coordinates,Latitude,Longitude
0,1a - Puerta del Sol A,Puerta del Sol nº 1,"-3.7018341, 40.4172137",40.417214,-3.701834
1,1b - Puerta del Sol B,Puerta del Sol nº 1,"-3.701602938060457, 40.41731271011562",40.417313,-3.701603
2,2 - Miguel Moya,Calle Miguel Moya nº 1,"-3.7058415, 40.4205886",40.420589,-3.705842
3,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"-3.7069171, 40.4302937",40.430294,-3.706917
4,4 - Malasaña,Calle Manuela Malasaña nº 5,"-3.7025875, 40.4285524",40.428552,-3.702587
...,...,...,...,...,...
259,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,"-3.72997, 40.43896",40.438960,-3.729970
260,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72699, 40.44375",40.443750,-3.726990
261,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72693, 40.44342",40.443420,-3.726930
262,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,"-3.7272945, 40.4483322",40.448332,-3.727295
263,261 - Facultad Derecho,Avenida Complutense nº 23,"-3.72937, 40.45109",40.451090,-3.729370

In [28]:
def to_mercator(lat, long):
    # transform latitude/longitude data in degrees to pseudo-mercator coordinates in metres
    c = gpd.GeoSeries([Point(lat, long)], crs=4326)
    c = c.to_crs(3857)
    return c

In [29]:
def distance_meters(lat_start, long_start, lat_finish, long_finish):
    # return the distance in metres between to latitude/longitude pair point in degrees (i.e.: 40.392436 / -3.6994487)
    start = to_mercator(lat_start, long_start)
    finish = to_mercator(lat_finish, long_finish)
    return start.distance(finish)

In [13]:
%%time
distance = []
for idx, rows_temp in df_temp.iterrows():
    for idx, rows_bici in df_bici.iterrows():
        distance.append(distance_meters(rows_temp['Latitude'],rows_temp['Longitude'],rows_bici['Latitude'],rows_bici['Longitude']))

CPU times: total: 12min 56s
Wall time: 19min 48s

In [14]:
distance

[0    5183.603209
 dtype: float64,
 0    5162.434497
 dtype: float64,
 0    5728.15173
 dtype: float64,
 0    6285.722889
 dtype: float64,
 0    5769.538595
 dtype: float64,
 0    5715.641776
 dtype: float64,
 0    5129.940802
 dtype: float64,
 0    5118.026296
 dtype: float64,
 0    5048.729309
 dtype: float64,
 0    5960.055398
 dtype: float64,
 0    4586.079267
 dtype: float64,
 0    5782.917043
 dtype: float64,
 0    6116.191651
 dtype: float64,
 0    6488.196633
 dtype: float64,
 0    6744.272693
 dtype: float64,
 0    6133.946637
 dtype: float64,
 0    6000.319715
 dtype: float64,
 0    5630.3686
 dtype: float64,
 0    5092.566562
 dtype: float64,
 0    4721.533509
 dtype: float64,
 0    4595.325387
 dtype: float64,
 0    5782.300265
 dtype: float64,
 0    5957.128813
 dtype: float64,
 0    6152.488272
 dtype: float64,
 0    5609.289267
 dtype: float64,
 0    5671.094656
 dtype: float64,
 0    4724.411292
 dtype: float64,
 0    4394.515246
 dtype: float64,
 0    4859.23332
 dtype: float64,
 0    4504.620007
 dtype: float64,
 0    6279.796977
 dtype: float64,
 0    5698.713172
 dtype: float64,
 0    5575.302133
 dtype: float64,
 0    5293.55654
 dtype: float64,
 0    5304.281671
 dtype: float64,
 0    6014.550927
 dtype: float64,
 0    6243.402626
 dtype: float64,
 0    6365.932201
 dtype: float64,
 0    6084.599073
 dtype: float64,
 0    5791.173933
 dtype: float64,
 0    5420.167856
 dtype: float64,
 0    4745.07196
 dtype: float64,
 0    4615.187414
 dtype: float64,
 0    5074.11257
 dtype: float64,
 0    5240.054449
 dtype: float64,
 0    5981.951909
 dtype: float64,
 0    5533.247756
 dtype: float64,
 0    5051.561465
 dtype: float64,
 0    4992.772657
 dtype: float64,
 0    4664.218719
 dtype: float64,
 0    4034.337363
 dtype: float64,
 0    4041.337802
 dtype: float64,
 0    4976.856272
 dtype: float64,
 0    4847.576898
 dtype: float64,
 0    5457.246829
 dtype: float64,
 0    5485.504298
 dtype: float64,
 0    5374.613519
 dtype: float64,
 0    6815.154107
 dtype: float64,
 0    4982.650867
 dtype: float64,
 0    5788.16648
 dtype: float64,
 0    3910.150454
 dtype: float64,
 0    2837.446249
 dtype: float64,
 0    2629.916991
 dtype: float64,
 0    2226.900562
 dtype: float64,
 0    3863.950358
 dtype: float64,
 0    4070.943662
 dtype: float64,
 0    3906.901586
 dtype: float64,
 0    3566.416585
 dtype: float64,
 0    2649.73788
 dtype: float64,
 0    2320.208347
 dtype: float64,
 0    1918.617844
 dtype: float64,
 0    1574.066584
 dtype: float64,
 0    2342.776709
 dtype: float64,
 0    2404.60324
 dtype: float64,
 0    2011.417659
 dtype: float64,
 0    1480.093308
 dtype: float64,
 0    1893.173178
 dtype: float64,
 0    2555.587389
 dtype: float64,
 0    3677.066915
 dtype: float64,
 0    3664.593395
 dtype: float64,
 0    3901.599773
 dtype: float64,
 0    1486.869029
 dtype: float64,
 0    2210.520363
 dtype: float64,
 0    1676.375309
 dtype: float64,
 0    3239.215976
 dtype: float64,
 0    4353.341505
 dtype: float64,
 0    3971.709638
 dtype: float64,
 0    4304.17386
 dtype: float64,
 0    3338.310414
 dtype: float64,
 0    3814.978712
 dtype: float64,
 0    3492.057861
 dtype: float64,
 0    4141.8004
 dtype: float64,
 0    4353.563439
 dtype: float64,
 0    4330.328936
 dtype: float64,
 0    3948.552526
 dtype: float64,
 0    3467.72317
 dtype: float64,
 0    3339.658268
 dtype: float64,
 0    3094.212491
 dtype: float64,
 0    3154.713881
 dtype: float64,
 0    3026.116549
 dtype: float64,
 0    2586.258461
 dtype: float64,
 0    3576.151098
 dtype: float64,
 0    4438.370814
 dtype: float64,
 0    4442.223166
 dtype: float64,
 0    4268.88216
 dtype: float64,
 0    4165.184953
 dtype: float64,
 0    4158.204783
 dtype: float64,
 0    4011.607249
 dtype: float64,
 0    3068.413967
 dtype: float64,
 0    4031.907105
 dtype: float64,
 0    7818.34284
 dtype: float64,
 0    7512.33571
 dtype: float64,
 0    7573.249409
 dtype: float64,
 0    8174.89328
 dtype: float64,
 0    7537.26106
 dtype: float64,
 0    7220.290998
 dtype: float64,
 0    7085.878548
 dtype: float64,
 0    6601.484141
 dtype: float64,
 0    6339.649658
 dtype: float64,
 0    7514.390546
 dtype: float64,
 0    3429.783184
 dtype: float64,
 0    3212.224185
 dtype: float64,
 0    4116.387883
 dtype: float64,
 0    4596.894667
 dtype: float64,
 0    5249.234691
 dtype: float64,
 0    6939.174125
 dtype: float64,
 0    5601.563489
 dtype: float64,
 0    5495.272284
 dtype: float64,
 0    6028.23188
 dtype: float64,
 0    6630.953695
 dtype: float64,
 0    7595.286431
 dtype: float64,
 0    6005.696969
 dtype: float64,
 0    6524.114837
 dtype: float64,
 0    6747.578938
 dtype: float64,
 0    7050.945312
 dtype: float64,
 0    6831.871169
 dtype: float64,
 0    6231.624316
 dtype: float64,
 0    5819.127172
 dtype: float64,
 0    5997.228088
 dtype: float64,
 0    5643.651942
 dtype: float64,
 0    6097.745096
 dtype: float64,
 0    5510.748673
 dtype: float64,
 0    4873.510675
 dtype: float64,
 0    5055.226332
 dtype: float64,
 0    4784.89729
 dtype: float64,
 0    4218.720677
 dtype: float64,
 0    3850.581912
 dtype: float64,
 0    3358.644058
 dtype: float64,
 0    5157.393509
 dtype: float64,
 0    5616.101001
 dtype: float64,
 0    5987.102812
 dtype: float64,
 0    6231.514108
 dtype: float64,
 0    6293.70028
 dtype: float64,
 0    6617.830249
 dtype: float64,
 0    7208.422641
 dtype: float64,
 0    6761.173634
 dtype: float64,
 0    7096.251304
 dtype: float64,
 0    7740.269317
 dtype: float64,
 0    7314.656119
 dtype: float64,
 0    7185.615794
 dtype: float64,
 0    6880.923216
 dtype: float64,
 0    6411.957892
 dtype: float64,
 0    6388.861307
 dtype: float64,
 0    7542.969745
 dtype: float64,
 0    5938.579163
 dtype: float64,
 0    5452.519101
 dtype: float64,
 0    4168.834748
 dtype: float64,
 0    4602.086676
 dtype: float64,
 0    6362.537535
 dtype: float64,
 0    6788.739866
 dtype: float64,
 0    4279.980428
 dtype: float64,
 0    6274.46485
 dtype: float64,
 0    5223.80083
 dtype: float64,
 0    4567.27917
 dtype: float64,
 0    4023.681409
 dtype: float64,
 0    5028.255315
 dtype: float64,
 0    5495.836542
 dtype: float64,
 0    4606.077454
 dtype: float64,
 0    4148.749073
 dtype: float64,
 0    4282.441756
 dtype: float64,
 0    2371.431094
 dtype: float64,
 0    1418.498572
 dtype: float64,
 0    2269.663375
 dtype: float64,
 0    2716.967215
 dtype: float64,
 0    1967.121728
 dtype: float64,
 0    2838.611127
 dtype: float64,
 0    2699.174388
 dtype: float64,
 0    2494.950873
 dtype: float64,
 0    3705.481407
 dtype: float64,
 0    3102.545934
 dtype: float64,
 0    3140.316243
 dtype: float64,
 0    3581.140644
 dtype: float64,
 0    4534.826501
 dtype: float64,
 0    3967.735928
 dtype: float64,
 0    3562.183103
 dtype: float64,
 0    3396.926653
 dtype: float64,
 0    4395.418011
 dtype: float64,
 0    4495.659945
 dtype: float64,
 0    4978.625088
 dtype: float64,
 0    5868.574818
 dtype: float64,
 0    5058.222725
 dtype: float64,
 0    7285.878066
 dtype: float64,
 0    6265.100244
 dtype: float64,
 0    6511.07246
 dtype: float64,
 0    7053.131538
 dtype: float64,
 0    7672.521799
 dtype: float64,
 0    7190.881109
 dtype: float64,
 0    7587.085919
 dtype: float64,
 0    7914.534586
 dtype: float64,
 0    8017.892026
 dtype: float64,
 0    7856.170556
 dtype: float64,
 0    7794.619057
 dtype: float64,
 0    5361.284063
 dtype: float64,
 0    5367.92103
 dtype: float64,
 0    6604.666058
 dtype: float64,
 0    5003.033828
 dtype: float64,
 0    4466.901765
 dtype: float64,
 0    3499.070313
 dtype: float64,
 0    7981.492627
 dtype: float64,
 0    9348.014493
 dtype: float64,
 0    835.965166
 dtype: float64,
 0    1346.376095
 dtype: float64,
 0    790.719057
 dtype: float64,
 0    2581.214965
 dtype: float64,
 0    5184.441663
 dtype: float64,
 0    7476.398416
 dtype: float64,
 0    7944.691531
 dtype: float64,
 0    297.589472
 dtype: float64,
 0    571.510042
 dtype: float64,
 0    1384.647956
 dtype: float64,
 0    5710.810619
 dtype: float64,
 0    3935.69786
 dtype: float64,
 0    4629.569798
 dtype: float64,
 0    4082.987672
 dtype: float64,
 0    3456.418474
 dtype: float64,
 0    2230.965605
 dtype: float64,
 0    2681.926607
 dtype: float64,
 0    3965.026134
 dtype: float64,
 0    6673.486446
 dtype: float64,
 0    7987.984145
 dtype: float64,
 0    7112.910539
 dtype: float64,
 0    8209.232351
 dtype: float64,
 0    3763.38705
 dtype: float64,
 0    4035.503756
 dtype: float64,
 0    4011.992291
 dtype: float64,
 0    3827.89015
 dtype: float64,
 0    7858.715876
 dtype: float64,
 0    6946.352464
 dtype: float64,
 0    5928.809713
 dtype: float64,
 0    5561.503369
 dtype: float64,
 0    8633.627687
 dtype: float64,
 0    9045.869902
 dtype: float64,
 0    5295.831462
 dtype: float64,
 0    4699.647829
 dtype: float64,
 0    8179.605625
 dtype: float64,
 0    6776.921871
 dtype: float64,
 0    6750.018274
 dtype: float64,
 0    7412.297731
 dtype: float64,
 0    7914.584168
 dtype: float64,
 0    9012.256259
 dtype: float64,
 0    8972.876382
 dtype: float64,
 0    8948.584057
 dtype: float64,
 0    9269.576044
 dtype: float64,
 0    9631.776268
 dtype: float64,
 0    6907.316592
 dtype: float64,
 0    6933.221656
 dtype: float64,
 0    6888.705971
 dtype: float64,
 0    7686.36521
 dtype: float64,
 0    7809.065747
 dtype: float64,
 0    7842.748777
 dtype: float64,
 0    7728.364539
 dtype: float64,
 0    7864.952293
 dtype: float64,
 0    8260.454525
 dtype: float64,
 0    6200.572012
 dtype: float64,
 0    8310.423117
 dtype: float64,
 0    7599.177191
 dtype: float64,
 0    7560.044036
 dtype: float64,
 0    7195.035964
 dtype: float64,
 0    6900.794585
 dtype: float64,
 0    7280.607799
 dtype: float64,
 0    6991.484834
 dtype: float64,
 0    7261.268697
 dtype: float64,
 0    7362.105174
 dtype: float64,
 0    7772.564203
 dtype: float64,
 0    7572.909961
 dtype: float64,
 0    6795.545334
 dtype: float64,
 0    6702.947952
 dtype: float64,
 0    6318.623745
 dtype: float64,
 0    6620.565033
 dtype: float64,
 0    6568.363341
 dtype: float64,
 0    8010.085319
 dtype: float64,
 0    7123.425303
 dtype: float64,
 0    7249.428467
 dtype: float64,
 0    7328.060447
 dtype: float64,
 0    6380.781386
 dtype: float64,
 0    6454.067058
 dtype: float64,
 0    6401.398754
 dtype: float64,
 0    6753.593687
 dtype: float64,
 0    6561.270842
 dtype: float64,
 0    6021.265696
 dtype: float64,
 0    6143.601026
 dtype: float64,
 0    5461.035204
 dtype: float64,
 0    5702.170278
 dtype: float64,
 0    5889.602963
 dtype: float64,
 0    6400.058156
 dtype: float64,
 0    6747.359325
 dtype: float64,
 0    6716.621684
 dtype: float64,
 0    6312.391369
 dtype: float64,
 0    6152.715548
 dtype: float64,
 0    5378.601153
 dtype: float64,
 0    5569.729096
 dtype: float64,
 0    5906.672052
 dtype: float64,
 0    6012.677867
 dtype: float64,
 0    6311.726088
 dtype: float64,
 0    6998.205493
 dtype: float64,
 0    6931.593332
 dtype: float64,
 0    6778.911996
 dtype: float64,
 0    6333.522607
 dtype: float64,
 0    7796.701548
 dtype: float64,
 0    7446.643993
 dtype: float64,
 0    6896.820491
 dtype: float64,
 0    7282.199416
 dtype: float64,
 0    7618.766497
 dtype: float64,
 0    7424.770882
 dtype: float64,
 0    8203.091272
 dtype: float64,
 0    9487.665791
 dtype: float64,
 0    9732.154993
 dtype: float64,
 0    9680.052791
 dtype: float64,
 0    7899.936803
 dtype: float64,
 0    7168.855096
 dtype: float64,
 0    7481.916252
 dtype: float64,
 0    7506.588048
 dtype: float64,
 0    8860.114931
 dtype: float64,
 0    9281.283141
 dtype: float64,
 0    9722.083544
 dtype: float64,
 0    9523.540686
 dtype: float64,
 0    8776.096769
 dtype: float64,
 0    8413.081375
 dtype: float64,
 0    8687.576842
 dtype: float64,
 0    9126.754304
 dtype: float64,
 0    8477.216779
 dtype: float64,
 0    8064.428515
 dtype: float64,
 0    7239.928975
 dtype: float64,
 0    7244.907103
 dtype: float64,
 0    7181.719528
 dtype: float64,
 0    9292.61089
 dtype: float64,
 0    9069.092404
 dtype: float64,
 0    8766.317731
 dtype: float64,
 0    9059.476734
 dtype: float64,
 0    7703.611301
 dtype: float64,
 0    9216.956546
 dtype: float64,
 0    9442.838845
 dtype: float64,
 0    9874.359088
 dtype: float64,
 0    8975.143389
 dtype: float64,
 0    9486.763708
 dtype: float64,
 0    8836.792423
 dtype: float64,
 0    8561.399113
 dtype: float64,
 0    8259.089528
 dtype: float64,
 0    8526.107602
 dtype: float64,
 0    8905.066558
 dtype: float64,
 0    9067.444834
 dtype: float64,
 0    9595.107652
 dtype: float64,
 0    9919.950476
 dtype: float64,
 0    9829.875906
 dtype: float64,
 0    10156.100663
 dtype: float64,
 0    8682.587698
 dtype: float64,
 0    9149.961024
 dtype: float64,
 0    8626.569054
 dtype: float64,
 0    8815.373319
 dtype: float64,
 0    8650.249858
 dtype: float64,
 0    8638.135975
 dtype: float64,
 0    8326.913309
 dtype: float64,
 0    10286.998541
 dtype: float64,
 0    9522.911276
 dtype: float64,
 0    7442.424437
 dtype: float64,
 0    7445.798251
 dtype: float64,
 0    7463.834837
 dtype: float64,
 0    7035.773931
 dtype: float64,
 0    6693.127546
 dtype: float64,
 0    6850.630179
 dtype: float64,
 0    6637.390507
 dtype: float64,
 0    6695.114382
 dtype: float64,
 0    6850.17332
 dtype: float64,
 0    7104.731018
 dtype: float64,
 0    7063.787347
 dtype: float64,
 0    7282.55552
 dtype: float64,
 0    6582.250358
 dtype: float64,
 0    6091.110456
 dtype: float64,
 0    8277.495581
 dtype: float64,
 0    7348.213374
 dtype: float64,
 0    8241.778479
 dtype: float64,
 0    8930.680414
 dtype: float64,
 0    8407.570041
 dtype: float64,
 0    7930.341876
 dtype: float64,
 0    8076.551295
 dtype: float64,
 0    8978.091226
 dtype: float64,
 0    9058.957471
 dtype: float64,
 0    8945.735541
 dtype: float64,
 0    9402.221107
 dtype: float64,
 0    9672.200669
 dtype: float64,
 0    9660.559236
 dtype: float64,
 0    9627.052944
 dtype: float64,
 0    10087.840115
 dtype: float64,
 0    10476.186416
 dtype: float64,
 0    10062.699872
 dtype: float64,
 0    9597.537245
 dtype: float64,
 0    10060.635451
 dtype: float64,
 0    9356.119049
 dtype: float64,
 0    9283.166616
 dtype: float64,
 0    10123.747027
 dtype: float64,
 0    10177.872771
 dtype: float64,
 0    10399.257751
 dtype: float64,
 0    10863.419224
 dtype: float64,
 0    11127.553985
 dtype: float64,
 0    11209.078034
 dtype: float64,
 0    10671.717647
 dtype: float64,
 0    10427.412495
 dtype: float64,
 0    10130.180442
 dtype: float64,
 0    10273.798447
 dtype: float64,
 0    10575.806981
 dtype: float64,
 0    10728.09961
 dtype: float64,
 0    10613.848734
 dtype: float64,
 0    11324.916952
 dtype: float64,
 0    11442.063479
 dtype: float64,
 0    11679.760094
 dtype: float64,
 0    11380.729805
 dtype: float64,
 0    12130.680105
 dtype: float64,
 0    6024.779284
 dtype: float64,
 0    5120.384567
 dtype: float64,
 0    5506.147477
 dtype: float64,
 0    6264.250205
 dtype: float64,
 0    5751.412662
 dtype: float64,
 0    5762.405208
 dtype: float64,
 0    5498.775622
 dtype: float64,
 0    6519.326589
 dtype: float64,
 0    4738.499907
 dtype: float64,
 0    5521.008536
 dtype: float64,
 0    6010.216483
 dtype: float64,
 0    6539.900513
 dtype: float64,
 0    5536.492978
 dtype: float64,
 0    5100.609952
 dtype: float64,
 0    5832.452289
 dtype: float64,
 0    6206.216141
 dtype: float64,
 0    6044.444773
 dtype: float64,
 0    8114.37689
 dtype: float64,
 0    8910.43183
 dtype: float64,
 0    8075.093671
 dtype: float64,
 0    9161.079743
 dtype: float64,
 0    10213.499691
 dtype: float64,
 0    10294.099143
 dtype: float64,
 0    10688.914785
 dtype: float64,
 0    10987.803697
 dtype: float64,
 0    9733.385629
 dtype: float64,
 0    11081.475234
 dtype: float64,
 0    11590.060278
 dtype: float64,
 0    12165.411674
 dtype: float64,
 0    9693.95529
 dtype: float64,
 0    10499.921966
 dtype: float64,
 0    10523.282696
 dtype: float64,
 0    11081.971898
 dtype: float64,
 0    10429.020142
 dtype: float64,
 0    10724.006159
 dtype: float64,
 0    11132.309778
 dtype: float64,
 0    11524.181322
 dtype: float64,
 0    8984.314307
 dtype: float64,
 0    7634.158113
 dtype: float64,
 0    8140.607792
 dtype: float64,
 0    8658.636214
 dtype: float64,
 0    8654.509487
 dtype: float64,
 0    8400.379782
 dtype: float64,
 0    9501.659458
 dtype: float64,
 0    10121.357301
 dtype: float64,
 0    11058.041387
 dtype: float64,
 0    11368.646169
 dtype: float64,
 0    12170.011271
 dtype: float64,
 0    12097.255809
 dtype: float64,
 0    7042.700272
 dtype: float64,
 0    7139.631081
 dtype: float64,
 0    4256.791685
 dtype: float64,
 0    5322.069746
 dtype: float64,
 0    12528.35353
 dtype: float64,
 0    13225.950061
 dtype: float64,
 0    4928.297064
 dtype: float64,
 0    13608.368447
 dtype: float64,
 0    10603.946805
 dtype: float64,
 0    11662.567942
 dtype: float64,
 0    11109.031429
 dtype: float64,
 0    12701.195877
 dtype: float64,
 0    5180.170212
 dtype: float64,
 0    4430.568727
 dtype: float64,
 0    4445.880791
 dtype: float64,
 0    10029.162838
 dtype: float64,
 0    9845.929928
 dtype: float64,
 0    9133.122171
 dtype: float64,
 0    4780.141299
 dtype: float64,
 0    12950.374403
 dtype: float64,
 0    13313.860027
 dtype: float64,
 0    12435.484163
 dtype: float64,
 0    12667.926574
 dtype: float64,
 0    11441.177202
 dtype: float64,
 0    12057.770983
 dtype: float64,
 0    6372.71459
 dtype: float64,
 0    4970.677608
 dtype: float64,
 0    9554.086024
 dtype: float64,
 0    10954.730475
 dtype: float64,
 0    10217.755084
 dtype: float64,
 0    11771.911036
 dtype: float64,
 0    11255.280207
 dtype: float64,
 0    11727.639746
 dtype: float64,
 0    10858.185084
 dtype: float64,
 0    8088.499114
 dtype: float64,
 0    8078.885284
 dtype: float64,
 0    8698.038849
 dtype: float64,
 0    9341.840127
 dtype: float64,
 0    12975.738263
 dtype: float64,
 0    13608.688979
 dtype: float64,
 0    10051.567448
 dtype: float64,
 0    11805.702885
 dtype: float64,
 0    12942.85079
 dtype: float64,
 0    11161.712838
 dtype: float64,
 0    12352.252045
 dtype: float64,
 0    12119.827148
 dtype: float64,
 0    8898.515606
 dtype: float64,
 0    7555.144986
 dtype: float64,
 0    8151.656587
 dtype: float64,
 0    8117.735274
 dtype: float64,
 0    8638.937121
 dtype: float64,
 0    8889.500029
 dtype: float64,
 0    3287.777499
 dtype: float64,
 0    3313.890179
 dtype: float64,
 0    3285.291669
 dtype: float64,
 0    4161.936121
 dtype: float64,
 0    4224.425342
 dtype: float64,
 0    4253.726067
 dtype: float64,
 0    4108.730707
 dtype: float64,
 0    4245.66363
 dtype: float64,
 0    4641.227276
 dtype: float64,
 0    2596.278391
 dtype: float64,
 0    4693.564248
 dtype: float64,
 0    4013.624219
 dtype: float64,
 0    4011.373225
 dtype: float64,
 0    3701.823405
 dtype: float64,
 0    3458.41846
 dtype: float64,
 0    3731.005927
 dtype: float64,
 0    3418.377556
 dtype: float64,
 0    3658.022764
 dtype: float64,
 0    3741.46994
 dtype: float64,
 0    4156.24969
 dtype: float64,
 0    3966.300758
 dtype: float64,
 0    3194.264621
 dtype: float64,
 0    3116.461941
 dtype: float64,
 0    2742.942915
 dtype: float64,
 0    3004.018514
 dtype: float64,
 0    2953.760005
 dtype: float64,
 0    4391.674444
 dtype: float64,
 0    3564.460516
 dtype: float64,
 0    3635.952785
 dtype: float64,
 0    3738.781224
 dtype: float64,
 0    2828.33541
 dtype: float64,
 0    2838.479678
 dtype: float64,
 0    2781.077395
 dtype: float64,
 0    3133.363966
 dtype: float64,
 0    2943.090865
 dtype: float64,
 0    2415.003983
 dtype: float64,
 0    2573.526871
 dtype: float64,
 0    1867.283943
 dtype: float64,
 0    2088.856843
 dtype: float64,
 0    2268.93093
 dtype: float64,
 0    2780.881181
 dtype: float64,
 0    3171.294804
 dtype: float64,
 0    3167.305114

In [15]:
len(distance)

76560

In [30]:
combined_df = df_temp.merge(df_bici, how='cross')
combined_df

,Place of interest,Place address,Latitude_x,Longitude_x,Type of place,BiciMAD Station,Station Location,Coordinates,Latitude_y,Longitude_y
0,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,1a - Puerta del Sol A,Puerta del Sol nº 1,"-3.7018341, 40.4172137",40.417214,-3.701834
1,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,1b - Puerta del Sol B,Puerta del Sol nº 1,"-3.701602938060457, 40.41731271011562",40.417313,-3.701603
2,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,2 - Miguel Moya,Calle Miguel Moya nº 1,"-3.7058415, 40.4205886",40.420589,-3.705842
3,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"-3.7069171, 40.4302937",40.430294,-3.706917
4,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,4 - Malasaña,Calle Manuela Malasaña nº 5,"-3.7025875, 40.4285524",40.428552,-3.702587
...,...,...,...,...,...,...,...,...,...,...
76555,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,"-3.72997, 40.43896",40.438960,-3.729970
76556,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72699, 40.44375",40.443750,-3.726990
76557,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72693, 40.44342",40.443420,-3.726930
76558,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,"-3.7272945, 40.4483322",40.448332,-3.727295
76559,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,261 - Facultad Derecho,Avenida Complutense nº 23,"-3.72937, 40.45109",40.451090,-3.729370

In [38]:
%%time
combined_df['distance'] = combined_df.apply(lambda x: distance_meters(x['Latitude_x'], x['Longitude_x'],x['Latitude_y'], x['Longitude_y']), axis=1)

CPU times: total: 15min 29s
Wall time: 15min 32s

In [39]:
combined_df

,Place of interest,Place address,Latitude_x,Longitude_x,Type of place,BiciMAD Station,Station Location,Coordinates,Latitude_y,Longitude_y,distance
0,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,1a - Puerta del Sol A,Puerta del Sol nº 1,"-3.7018341, 40.4172137",40.417214,-3.701834,5183.603209
1,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,1b - Puerta del Sol B,Puerta del Sol nº 1,"-3.701602938060457, 40.41731271011562",40.417313,-3.701603,5162.434497
2,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,2 - Miguel Moya,Calle Miguel Moya nº 1,"-3.7058415, 40.4205886",40.420589,-3.705842,5728.151730
3,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,3 - Plaza Conde Suchil,Plaza del Conde del Valle de Súchil nº 3,"-3.7069171, 40.4302937",40.430294,-3.706917,6285.722889
4,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,4 - Malasaña,Calle Manuela Malasaña nº 5,"-3.7025875, 40.4285524",40.428552,-3.702587,5769.538595
...,...,...,...,...,...,...,...,...,...,...,...
76555,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,257 - INEF,Avenida Juan de Herrera frente a la calle Paul...,"-3.72997, 40.43896",40.438960,-3.729970,3428.930404
76556,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,258 - Ciudad Universitaria 1,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72699, 40.44375",40.443750,-3.726990,2980.660910
76557,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,259 - Ciudad Universitaria 2,Avenida de la Complutense (Metro Ciudad Univer...,"-3.72693, 40.44342",40.443420,-3.726930,2980.345349
76558,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,260 - Facultad Biología,Calle José Antonio Novais frente al nº 12,"-3.7272945, 40.4483322",40.448332,-3.727295,2973.957092
76559,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,261 - Facultad Derecho,Avenida Complutense nº 23,"-3.72937, 40.45109",40.451090,-3.729370,3221.964872

In [40]:
%%time
final_df = combined_df.loc[combined_df.groupby("Place of interest")["distance"].idxmin()]
final_df

CPU times: total: 31.2 ms
Wall time: 59.8 ms

,Place of interest,Place address,Latitude_x,Longitude_x,Type of place,BiciMAD Station,Station Location,Coordinates,Latitude_y,Longitude_y,distance
227,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,40.403023,-3.657575,Asamblea Cristiana Gilgal,225 - Doctor Lozano,Calle Sierra Toledana nº 33,"-3.660188083470652, 40.40248333540473",40.402483,-3.660188,297.589472
478,Asambleas de Evangelización Mundial para Crist...,CALLE ANTONIA RODRIGUEZ SACRISTAN 8 PLANTA BAJ...,40.372800,-3.745074,Asambleas de Evangelización Mundial para Crist...,212 - Marqués de Vadillo,Glorieta Marqués de Vadillo nº 9,"-3.716591, 40.398247",40.398247,-3.716591,4256.791685
742,Asociación Darse - Dar Ayuda para la Reinserci...,CAMINO ALTO DE SAN ISIDRO 16 PLANTA 2º C C,40.396470,-3.722813,Asociación Darse - Dar Ayuda para la Reinserci...,212 - Marqués de Vadillo,Glorieta Marqués de Vadillo nº 9,"-3.716591, 40.398247",40.398247,-3.716591,721.784455
954,Asociación Evangélica Internacional,CALLE NICARAGUA 19,40.457895,-3.670675,Asociación Evangélica Internacional,160 - Colombia,Calle Colombia nº 7,"-3.6763439, 40.4572466",40.457247,-3.676344,636.522996
1063,Catedral Anglicana de Madrid,CALLE BENEFICENCIA 18,40.426351,-3.698683,Catedral Anglicana de Madrid,7 - Hortaleza,Calle Hortaleza nº 75,"-3.6977715, 40.4251906",40.425191,-3.697771,164.381934
...,...,...,...,...,...,...,...,...,...,...,...
75730,Testigos Cristianos de Jehová. Calle Tembleque,CALLE TEMBLEQUE 64 PLANTA BAJA,40.395189,-3.760301,Testigos Cristianos de Jehová. Calle Tembleque,224 - Caramuel,Calle Caramuel nº 51,"-3.728533714316331, 40.40913630273305",40.409136,-3.728534,3869.020605
75996,Testigos Cristianos de Jehová. Calle Venancio ...,CALLE VENANCIO MARTIN 19 PLANTA BAJA 2,40.397957,-3.661471,Testigos Cristianos de Jehová. Calle Venancio ...,226 - Sierra Toledana,Camino de Valderribas nº 94,"-3.6607768678037744, 40.39901531507069",40.399015,-3.660777,140.927169
70975,Testigos Cristianos de Jehová. Calle de Los Ga...,CALLE GALLEGOS 2,40.401401,-3.607648,Testigos Cristianos de Jehová. Calle de Los Ga...,221 - Pavones,Calle Hacienda de Pavones nº 342,"-3.634587, 40.400368",40.400368,-3.634587,3007.035073
76255,Testigos Cristianos de Jehová. Calle Ámbar,CALLE AMBAR 3 PLANTA BAJO IZQUIERDA,40.373674,-3.618489,Testigos Cristianos de Jehová. Calle Ámbar,221 - Pavones,Calle Hacienda de Pavones nº 342,"-3.634587, 40.400368",40.400368,-3.634587,3471.925802
76431,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,40.448161,-3.700636,The Korea Assemblies of God Full Gospel,133 - Raimundo Fernández,Calle Raimundo Fernández Villaverde nº 33,"-3.7001669, 40.447125",40.447125,-3.700167,126.676872

In [47]:
final_df1 = final_df.drop(['Latitude_x','Longitude_x','Coordinates','Latitude_y','Longitude_y'], axis=1)
final_df1

,Place of interest,Place address,Type of place,BiciMAD Station,Station Location,distance
227,Asamblea Cristiana Gilgal,CALLE GARGANTA DE AISA 34,Asamblea Cristiana Gilgal,225 - Doctor Lozano,Calle Sierra Toledana nº 33,297.589472
478,Asambleas de Evangelización Mundial para Crist...,CALLE ANTONIA RODRIGUEZ SACRISTAN 8 PLANTA BAJ...,Asambleas de Evangelización Mundial para Crist...,212 - Marqués de Vadillo,Glorieta Marqués de Vadillo nº 9,4256.791685
742,Asociación Darse - Dar Ayuda para la Reinserci...,CAMINO ALTO DE SAN ISIDRO 16 PLANTA 2º C C,Asociación Darse - Dar Ayuda para la Reinserci...,212 - Marqués de Vadillo,Glorieta Marqués de Vadillo nº 9,721.784455
954,Asociación Evangélica Internacional,CALLE NICARAGUA 19,Asociación Evangélica Internacional,160 - Colombia,Calle Colombia nº 7,636.522996
1063,Catedral Anglicana de Madrid,CALLE BENEFICENCIA 18,Catedral Anglicana de Madrid,7 - Hortaleza,Calle Hortaleza nº 75,164.381934
...,...,...,...,...,...,...
75730,Testigos Cristianos de Jehová. Calle Tembleque,CALLE TEMBLEQUE 64 PLANTA BAJA,Testigos Cristianos de Jehová. Calle Tembleque,224 - Caramuel,Calle Caramuel nº 51,3869.020605
75996,Testigos Cristianos de Jehová. Calle Venancio ...,CALLE VENANCIO MARTIN 19 PLANTA BAJA 2,Testigos Cristianos de Jehová. Calle Venancio ...,226 - Sierra Toledana,Camino de Valderribas nº 94,140.927169
70975,Testigos Cristianos de Jehová. Calle de Los Ga...,CALLE GALLEGOS 2,Testigos Cristianos de Jehová. Calle de Los Ga...,221 - Pavones,Calle Hacienda de Pavones nº 342,3007.035073
76255,Testigos Cristianos de Jehová. Calle Ámbar,CALLE AMBAR 3 PLANTA BAJO IZQUIERDA,Testigos Cristianos de Jehová. Calle Ámbar,221 - Pavones,Calle Hacienda de Pavones nº 342,3471.925802
76431,The Korea Assemblies of God Full Gospel,CALLE HERNANI 34 LOCAL 4,The Korea Assemblies of God Full Gospel,133 - Raimundo Fernández,Calle Raimundo Fernández Villaverde nº 33,126.676872

In [48]:
#save the final df in a csv file
final_df1.to_csv('../data/final_df.csv', index=False)